<h1> Mon profil </h1>

<% if @profile.picture.attached? %>
  <%= cl_image_tag( @profile.picture.key,
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
<% end %>

<%= "Nom : #{@profile.first_name.capitalize}" %>
<br> <%= "Surnom : #{@profile.nickname.capitalize}" %>
<br> <%= "Description : #{@profile.description.capitalize}" %>

<br> <%= link_to "Modifier", edit_profile_path(@profile) %>

<br> <% if current_user.house %>
  <%= "Ta house est : #{current_user.house.name}" %>
<% else %>
  <br> <%= link_to "Ajouter une house", new_house_path %>
<% end %>
