

<div class="">
  <%= image_tag "mains-v.png", style: "height:80px; width:40px;"%>
</div>
<h1 class="margin-bottom-20"><%= "Hello #{current_user.profile.first_name.upcase} !" %></h1>

<div class="score-container">
  <h3 class="margin-top-10 margin-bottom-20">Et le gagnant est ... ?</h3>
  <% @house.habitants.each do |habitant| %>
    <div class="avatar-score-bar-nickname-block">
      <div class="avatar-score-bar-block">
        <% if habitant.user.profile.picture.attached? %>
          <%= cl_image_tag habitant.user.profile.picture.key, class: "avatar-large z-index"%>
        <% else  %>
          <%= cl_image_tag "https://res.cloudinary.com/drnblm552/image/upload/v1607017224/defaut_avatar_svlhcb.jpg", class: "avatar-large z-index" %>
        <% end  %>
        <div class="progress score-bar-block">
          <% if habitant.user.profile.score.nil? %>
            <% my_score = 0 %>
          <% else %>
            <% my_score = habitant.user.profile.score*100/@total_points_tasks %>

          <% end %>
          <% decal_x = 22 %>
          <div class="progress-bar bg-white mix-blend-mode font-bold-900" role="progressbar" style="width: 0%;" aria-valuenow="<%= my_score + decal_x %>" aria-valuemin="0" aria-valuemax="100">
            <%= habitant.user.profile.score %>
          </div>
        </div>
      </div>
      <p class="nickname-block padding-left-5 font-bold-500">
        <%= "#{habitant.user.profile.nickname}"%>
      </p>
    </div>
  <% end %>
</div>
<h2 class="list-tasks-block">à faire cette semaine </h2>
<% @tasks_to_do.each do |task| %>
  <div class="task-card mmix-blend-mode">
    <div class="">
      <% if task.user.nil? %>
        <div class="circle">
          <h4>?</h4>
        </div>
      <% else  %>
        <% unless task.user.profile.picture.attached? %>
          <%= cl_image_tag "https://res.cloudinary.com/drnblm552/image/upload/v1607017224/defaut_avatar_svlhcb.jpg", class: "avatar-large" %>
        <% else  %>
          <%= cl_image_tag task.user.profile.picture.key , class: "avatar-large" %>
        <% end %>
      <% end %>
    </div>
     <p class=""><%= link_to task.name.capitalize, task_path(task), class:"task-card-text" %></p>
     <p class=""><%= "#{task.points} points" %></p>
  </div>
<% end %>

