<h2> Hello </h2>
<p> Name de la house : <%= @house.name %> </p>
<p> Id de la house : <%= @house.id %> </p>
<p> Membres de la house : <%= @house.user.email %> </p>

<h2> Liste des tâches </h2>
<ul>
  <% @tasks.each do |task| %>
    <li>
      
    <%# link_to task.name.capitalize, house_task_path(task) %>
    <%= task.name.capitalize %>
    <%= task.points %> points
    <%= link_to "Modifier", edit_task_path(task) %>
    <%= link_to "Supprimer", task_path(task), method: :delete, data: {confirm: "are you sure?"}  %>
    </li>
  <% end %>
</ul>

<%= link_to "ajouter tache", new_house_task_path(@house) %>
