<div class="container1">
  <%# if current_user.profile.picture.attached? %>
    <%# cl_image_tag current_user.profile.picture.key, class: "avatar" %>
  <%# else  %>
    <%# cl_image_tag "https://res.cloudinary.com/drnblm552/image/upload/v1607017224/defaut_avatar_svlhcb.jpg", class: "avatar" %>
  <%# end  %>
  <h1 class="parme"> <br> <%= "Hello #{current_user.profile.first_name.capitalize} !"  %></h1>

  <!-- <p> Membres de la house : </p>
    <ul>
      <% @house.habitants.each do |habitant| %>
        <li> <%= habitant.user.profile.first_name %> </li>
      <% end %>
    </ul>

  <h2> SCORE current_user : <%= current_user.profile.score %> </h2> -->

  <h2> <br> Score </h2>
    <p class="pink">
      <% @house.habitants.each do |habitant| %>
        <% if habitant.user.profile.picture.attached? %>
          <%= cl_image_tag habitant.user.profile.picture.key, class: "avatar-large"%>
        <% else  %>
          <%= cl_image_tag "https://res.cloudinary.com/drnblm552/image/upload/v1607017224/defaut_avatar_svlhcb.jpg", class: "avatar-large" %>
        <% end  %>
        <%= "#{habitant.user.profile.nickname} : #{habitant.user.profile.score}"%>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= habitant.user.profile.score*100/@total_points_tasks %>%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="40">
            <%= habitant.user.profile.score %>
          </div>
        </div>
      <% end %>
    </p>

  <h2> <br> Liste des tâches </h2>
      <% @tasks.each do |task| %>
        <p> <%= link_to task.name.capitalize, task_path(task), class:"task-card" %> </p>
<!--         <% task.points %>
 -->      <% end %>

</div>
