<h1> Modifier une tache </h1>

<%= simple_form_for @task do |f| %>
  <%= f.input :name, label:"Nom : " %>
  <%= f.input :points, label: "Points" %>
  <%= f.input :description, label:"Description : " %>
  <%# f.input :user_id, label: "Attribué à", collection:  %>
  <%= f.input :status, label: "Fait?" %>
  <%= f.button :submit,label:"Valider"  %>
<% end %>
