
 <br> <h1> Ajouter une tâche </h1>


  <%= image_tag "products.png", style: "height:150px; width:150px;"%>


  <%= simple_form_for [@house, @task] do |f| %>
    <%= f.input :name, label:"Nom : ", collection: @task_names, input_html: { class: 'select2' } %>
    <%= f.input :points, label: "Points"%>
    <%= f.input :description, label:"Description : "%>
    <%= f.input :status, label: "Fait" %>
    <%= f.button :submit, label:"Valider" %>
  <% end %>
