    <h1 class="title, parme"> <br> <%= @task.name.capitalize %> </h1>
    <h2 class="second-tile, pink"> <%= " ★ #{@task.points} points ★" %> </h2>

     <p class="parme"> <%= "#{@task.description.capitalize}" %> </p>


  <div class="card-square">
    <%= image_tag "menage.png", style: "height:200px; width:200px;"%>
  </div>

  <br> <%= link_to "EDIT", edit_task_path(@task), class:"button-task" %>
  <%= link_to "DELETE", task_path(@task), method: :delete, class:"button-task" %>
  <br>
