<h1 class="title"> <%= @task.name.capitalize %> </h1>
<h2 class="blue-points margin-top-10"> <%= " ★ #{@task.points} points ★" %> </h2>

<div class="checkbox-container margin-bottom-10">
  <button id="mark_as_done" class="checkbox <%= @task.status ? 'class1' : 'class2' %>" data-task-id="<%= @task.id %>" data-status="<%= @task.status %>" >
    <div class="checkbox-visual">
      <div>
      </div>
    </div>
  </button>

</div>

<div class="task-card3 margin-top-20 margin-bottom-20">
  <% if @task.user %>
    <% unless @task.user.profile.picture.attached? %>
      <%= cl_image_tag "https://res.cloudinary.com/drnblm552/image/upload/v1607017224/defaut_avatar_svlhcb.jpg", class: "avatar-large" %>
    <% else  %>
      <%= cl_image_tag @task.user.profile.picture.key , class: "avatar-large" %>
    <% end %>
    <p class="task-card-text"> <%= "#{@task.user.profile.first_name.capitalize}" %> </p>
  <% else %>
    <div class="circle">
      <h4>?</h4>
    </div>
    <p class=""> Non attribuée </p>
  <% end %>
</div>

<div class="card-square">
  <p> <%= "#{@task.description.capitalize}" %> </p>
    <%= image_tag "mains-ok.png", style: "height:180px; width:90px;"%>
  </div>

<div class="btn-edit-delete">
  <%= link_to "MODIFIER", edit_task_path(@task), class:"button-edit" %>
  <%= link_to "SUPPRIMER", task_path(@task), method: :delete, class:"button-edit" %>
</div>
