<h1 class="title"> <%= @task.name.capitalize %> </h1>
<h2 class="blue-points"> <%= " ★ #{@task.points} points ★" %> </h2>


<% if @task.user %>
  <p class="task-card task-card-text"> <%= "#{@task.user.profile.first_name.capitalize}" %> </p>
<% else %>
  <p class="task-card task-card-text"> Non attribuée </p>
<% end %>

<%= link_to "Fait", task_path, method: :put %>

  <div class="card-square">
    <p> <%= "#{@task.description.capitalize}" %> </p>

    <%= image_tag "mains-ok.png", style: "height:200px; width:100px;"%>
  </div>

<div class="btn-edit-delete">
  <%= link_to "MODIFIER", edit_task_path(@task), class:"button-edit" %>
  <%= link_to "SUPPRIMER", task_path(@task), method: :delete, class:"button-edit" %>
</div>
