<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <% if current_user.habitant %>

          <li class="nav-item active">
          <%= link_to "ðŸ ", house_path(current_user.habitant.house), class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "âž•", new_house_task_path(current_user.habitant.house), class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "ðŸ’¬", "#" , class: "nav-link" %>
          </li>

          <% if current_user.habitant.house.gift %>

            <li class="nav-item">
              <%= link_to "ðŸŽ", gift_path(current_user.habitant.house.gift) , class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "ðŸŽ", new_house_gift_path(current_user.habitant.house) , class: "nav-link" %>
            </li>
          <% end %>

        <% end %>
        <li class="nav-item dropdown">
          <% if current_user.profile.picture.attached? %>
            <%= image_tag current_user.profile.picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", profile_path(current_user) , class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          <% else  %>
            <%= image_tag "https://res.cloudinary.com/drnblm552/image/upload/v1607017224/defaut_avatar_svlhcb.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", profile_path(current_user) , class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          <% end  %>
        </li>
      <% else %>

        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>

      <% end %>

    </ul>
  </div>
</div>
