
<br><h1> Choisissez votre récompense ! </h1><br>

<%= image_tag "gift-3.png", style: "height:150px; width:150px;"%>


<%= simple_form_for [@house, @gift] do |f| %>
  <%= f.input :name, label:"Nom de la récompense :" %>
  <%= f.input :description, label:"Description :" %>
  <%= f.button :submit, "Valider" %>

<% end %>

