
<br><h1> Choisissez votre récompense ! </h1><br>

<%= image_tag "mains-cadeau.png", style: "height:250px; width:250px;"%>


<%= simple_form_for [@house, @gift] do |f| %>
  <%= f.input :name, label:"Nom de la récompense :" %>
  <%= f.input :description, label:"Description :" %>
  <%= f.button :submit, "Valider" %>
<% end %>

